body{
    text-align: center;
    color: white;
    background-color: black;
    place-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
#tdlbtn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #4a4a4a;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  #tdlbtn:hover {
    border-color: #646cff;
  }